# fly.toml app configuration file generated for gift-reco-twilight-haze-4343 on 2026-02-16T01:05:37+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gift-reco-twilight-haze-4343'
primary_region = 'nrt'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    method = "GET"
    path = "/health"
    interval = "15s"
    timeout = "2s"

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
